<section class="attendance-card">
  <div class="upload-info">
    <h1>استيراد الحضور والانصراف</h1>
    <p>
      قم برفع شيت الحضور، وسيتم استخراج كود الموظف، التاريخ، وقت الحضور، ووقت الانصراف ثم حفظهم في
      السيستم.
    </p>
  </div>

  <label
    class="upload-box"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onFileDrop($event)"
  >
    <input
      type="file"
      accept=".xlsx,.xls,.csv,text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
      (change)="onAttendanceSheetSelected($event)"
    />

    <span>📁 قم بإختيار ملف Excel أو اسحبه هنا</span>
  </label>

  <div *ngIf="excelFileName" class="file-name">الملف المختار: {{ excelFileName }}</div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <ul *ngIf="rowErrors.length > 0" class="row-errors">
    <li *ngFor="let rowError of rowErrors | slice: 0 : 6">
      {{ rowError }}
    </li>
    <li *ngIf="rowErrors.length > 6">ويوجد {{ rowErrors.length - 6 }} أخطاء أخرى...</li>
  </ul>

  <!-- <div class="actions" *ngIf="attendanceRowsLength > 0">
    <button
      type="button"
      class="import-btn"
      [disabled]="isImporting"
      (click)="importAttendance.emit()"
      *ngIf="!hasImportedCurrentSheet"
    >
      {{ isImporting ? 'جاري الحفظ...' : 'استيراد الحضور للسيستم' }}
    </button>

  </div> -->
</section>
